## Pandas Notebook

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
movie=pd.read_csv('movie.csv')

In [4]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
index = movie.index
columns = movie.columns
data = movie.values
print(index)
print(columns)
print (data)

RangeIndex(start=0, stop=4916, step=1)
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
[['Color' 'James Cameron' 723.0 ... 7.9 1.78 33000]
 ['Color' 'Gore Verbinski' 302.0 ... 7.1 2.35 0]
 ['Color' 'Sam Mendes' 602.0 ... 6.8 2.35 85000]
 ...
 ['Color' 'Benjamin Roberds' 13.0 ... 6.3 nan 16]
 ['Color' 'Daniel Hsia' 14.0 ... 6.3 2.35 660]
 ['Color' 'Jon Gunn' 43.0 ... 6.6 1.85 456]]

In [6]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [7]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

In [8]:
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [9]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [10]:
director.value_counts()

Steven Spielberg        26
Woody Allen             22
Clint Eastwood          20
Martin Scorsese         20
Spike Lee               16
Ridley Scott            16
Steven Soderbergh       15
Renny Harlin            15
Oliver Stone            14
Tim Burton              14
Joel Schumacher         13
Barry Levinson          13
Robert Rodriguez        13
Ron Howard              13
Robert Zemeckis         13
Tony Scott              12
Michael Bay             12
Brian De Palma          12
Kevin Smith             12
Rob Reiner              11
Chris Columbus          11
Richard Linklater       11
Richard Donner          11
Francis Ford Coppola    11
Shawn Levy              11
Sam Raimi               11
John McTiernan          10
David Fincher           10
Bobby Farrelly          10
John Carpenter          10
                        ..
Ken Annakin              1
Vera Farmiga             1
Doug Lefler              1
Doug Block               1
Emma-Kate Croghan        1
Drew Barrymore           1
Cristian Mungiu          1
Peter Ramsey             1
Mathieu Amalric          1
Chuan Lu                 1
Keith Gordon             1
Jackie Earle Haley       1
Derick Martini           1
Claudia Sainte-Luce      1
John Francis Daley       1
Tom McGrath              1
Rachel Goldenberg        1
Michael Dinner           1
Cal Brunker              1
James Dodson             1
Conor McMahon            1
Anna Muylaert            1
Eric Mendelsohn          1
Michael Kang             1
Paul Hunter              1
Dinesh D'Souza           1
Marcos Siega             1
David Anspaugh           1
Alex van Warmerdam       1
Rohan Sippy              1
Name: director_name, Length: 2397, dtype: int64

In [11]:
director.shape

(4916,)

In [12]:
director.size

4916

In [13]:
director.count()

4814

In [14]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [15]:
director.isnull().sum()

102

In [16]:
director.value_counts(normalize=True)

Steven Spielberg        0.005401
Woody Allen             0.004570
Clint Eastwood          0.004155
Martin Scorsese         0.004155
Spike Lee               0.003324
Ridley Scott            0.003324
Steven Soderbergh       0.003116
Renny Harlin            0.003116
Oliver Stone            0.002908
Tim Burton              0.002908
Joel Schumacher         0.002700
Barry Levinson          0.002700
Robert Rodriguez        0.002700
Ron Howard              0.002700
Robert Zemeckis         0.002700
Tony Scott              0.002493
Michael Bay             0.002493
Brian De Palma          0.002493
Kevin Smith             0.002493
Rob Reiner              0.002285
Chris Columbus          0.002285
Richard Linklater       0.002285
Richard Donner          0.002285
Francis Ford Coppola    0.002285
Shawn Levy              0.002285
Sam Raimi               0.002285
John McTiernan          0.002077
David Fincher           0.002077
Bobby Farrelly          0.002077
John Carpenter          0.002077
                          ...
Ken Annakin             0.000208
Vera Farmiga            0.000208
Doug Lefler             0.000208
Doug Block              0.000208
Emma-Kate Croghan       0.000208
Drew Barrymore          0.000208
Cristian Mungiu         0.000208
Peter Ramsey            0.000208
Mathieu Amalric         0.000208
Chuan Lu                0.000208
Keith Gordon            0.000208
Jackie Earle Haley      0.000208
Derick Martini          0.000208
Claudia Sainte-Luce     0.000208
John Francis Daley      0.000208
Tom McGrath             0.000208
Rachel Goldenberg       0.000208
Michael Dinner          0.000208
Cal Brunker             0.000208
James Dodson            0.000208
Conor McMahon           0.000208
Anna Muylaert           0.000208
Eric Mendelsohn         0.000208
Michael Kang            0.000208
Paul Hunter             0.000208
Dinesh D'Souza          0.000208
Marcos Siega            0.000208
David Anspaugh          0.000208
Alex van Warmerdam      0.000208
Rohan Sippy             0.000208
Name: director_name, Length: 2397, dtype: float64

In [17]:
director.notnull().sum()

4814

In [18]:
imdb_score = movie['imdb_score']

In [19]:
imdb_score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [20]:
imdb_score+1
#imdb_score.head()

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
5       7.6
6       7.2
7       8.8
8       8.5
9       8.5
10      7.9
11      7.1
12      7.7
13      8.3
14      7.5
15      8.2
16      7.6
17      9.1
18      7.7
19      7.8
20      8.5
21      8.0
22      7.7
23      8.9
24      7.1
25      8.2
26      8.7
27      9.2
28      6.9
29      8.0
       ...
4886    8.0
4887    7.3
4888    8.1
4889    5.8
4890    4.3
4891    7.9
4892    5.6
4893    4.0
4894    7.6
4895    8.4
4896    7.2
4897    5.0
4898    7.1
4899    7.9
4900    8.5
4901    7.7
4902    8.4
4903    7.1
4904    6.4
4905    7.4
4906    8.0
4907    7.3
4908    7.9
4909    8.8
4910    7.4
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [21]:
movie_actor_director = movie[['actor_1_name', 'actor_2_name','actor_3_name', 'director_name']]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [22]:
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000
3,22000.0,23000.0,27000.0,106759,23000.0,164000
4,131.0,NaN,131.0,143,12.0,0

In [23]:
movie.filter(regex='\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [24]:
disc_core = ['movie_title', 'title_year','content_rating', 'genres']
disc_people = ['director_name', 'actor_1_name','actor_2_name', 'actor_3_name']
disc_other = ['color', 'country', 'language','plot_keywords', 'movie_imdb_link']
cont_fb = ['director_facebook_likes', 'actor_1_facebook_likes','actor_2_facebook_likes', 'actor_3_facebook_likes','cast_total_facebook_likes', 'movie_facebook_likes']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user_for_reviews','num_critic_for_reviews']
cont_other = ['imdb_score', 'duration','aspect_ratio', 'facenumber_in_poster']

In [25]:
new_col_order = disc_core + disc_people + disc_other + cont_fb + cont_finance + cont_num_reviews + cont_other

In [26]:
movie2 = movie[new_col_order]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_facebook_likes,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

In [27]:
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [28]:
movie.describe(percentiles=[.01, .3, .99])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
1%,2.000000,43.000000,0.000000,0.000000,6.080000,8.474800e+03,5.300000e+01,6.000000,0.000000,1.940000,6.000000e+04,1951.000000,0.000000,3.100000,1.330000,0.000000
30%,60.000000,95.000000,11.000000,176.000000,694.000000,7.914069e+06,1.186450e+04,1684.500000,0.000000,80.000000,8.000000e+06,2000.000000,345.000000,6.000000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
99%,546.680000,189.000000,16000.000000,11000.000000,44920.000000,3.264128e+08,6.815846e+05,62413.900000,8.000000,1999.240000,2.000000e+08,2016.000000,17000.000000,8.500000,4.000000,93850.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [29]:
movie.isnull().sum().head()

color                       19
director_name              102
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
dtype: int64

# College data

In [30]:
college = pd.read_csv('college.csv', index_col='INSTNM')

In [31]:
college_ugds_ = college.filter(like='UGDS_')

In [32]:
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [33]:
college_ugds_.isnull().sum(axis=1).sort_values(ascending=False).head()

INSTNM
Excel Learning Center-San Antonio South         9
Philadelphia College of Osteopathic Medicine    9
Assemblies of God Theological Seminary          9
Episcopal Divinity School                       9
Phillips Graduate Institute                     9
dtype: int64

In [34]:
college_ugds_ = college_ugds_.dropna(how='all')
college_ugds_.isnull().sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [35]:
college.shape

(7535, 26)

In [36]:
college.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7535 entries, Alabama A & M University to Excel Learning Center-San Antonio South
Data columns (total 26 columns):
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(4)
memory usage: 1.6+ MB

In [37]:
college.describe(include=[np.number])

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV
count,7164.000000,7164.000000,7164.000000,7535.000000,1185.000000,1196.000000,7164.000000,6874.000000,6874.000000,6874.000000,...,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6853.000000,7535.000000,6849.000000,6849.000000,6718.000000
mean,0.014238,0.009213,0.005304,0.190975,522.819409,530.765050,0.005583,2356.837940,0.510207,0.189997,...,0.013813,0.004569,0.023950,0.016086,0.045181,0.226639,0.923291,0.530643,0.522211,0.410021
std,0.118478,0.095546,0.072642,0.393096,68.578862,73.469767,0.074519,5474.275871,0.286958,0.224587,...,0.070196,0.033125,0.031288,0.050172,0.093440,0.246470,0.266146,0.225544,0.283616,0.228939
min,0.000000,0.000000,0.000000,0.000000,290.000000,310.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,475.000000,482.000000,0.000000,117.000000,0.267500,0.036125,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.357800,0.332900,0.241500
50%,0.000000,0.000000,0.000000,0.000000,510.000000,520.000000,0.000000,412.500000,0.555700,0.100050,...,0.002600,0.000000,0.017500,0.000000,0.014300,0.150400,1.000000,0.521500,0.583300,0.400750
75%,0.000000,0.000000,0.000000,0.000000,555.000000,565.000000,0.000000,1929.500000,0.747875,0.257700,...,0.007300,0.002500,0.033900,0.011700,0.045400,0.376900,1.000000,0.712900,0.745000,0.572275
max,1.000000,1.000000,1.000000,1.000000,765.000000,785.000000,1.000000,151558.000000,1.000000,1.000000,...,1.000000,0.998300,0.533300,0.928600,0.902700,1.000000,1.000000,1.000000,1.000000,1.000000

In [38]:
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [39]:
college.describe(include=[np.object, pd.Categorical]).T

                   count unique                top  freq
CITY                7535   2514           New York    87
STABBR              7535     59                 CA   773
MD_EARN_WNE_P10     6413    598  PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038  PrivacySuppressed  1510

In [40]:
college.memory_usage(deep=True)

Index                 660240
CITY                  496019
STABBR                444565
HBCU                   60280
MENONLY                60280
WOMENONLY              60280
RELAFFIL               60280
SATVRMID               60280
SATMTMID               60280
DISTANCEONLY           60280
UGDS                   60280
UGDS_WHITE             60280
UGDS_BLACK             60280
UGDS_HISP              60280
UGDS_ASIAN             60280
UGDS_AIAN              60280
UGDS_NHPI              60280
UGDS_2MOR              60280
UGDS_NRA               60280
UGDS_UNKN              60280
PPTUG_EF               60280
CURROPER               60280
PCTPELL                60280
PCTFLOAN               60280
UG25ABV                60280
MD_EARN_WNE_P10       443397
GRAD_DEBT_MDN_SUPP    484160
dtype: int64

In [41]:
college['RELAFFIL'] = college['RELAFFIL'].astype(np.int8)

In [42]:
city = college['CITY']
city.head()

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [43]:
city.iloc[3]

'Huntsville'

In [44]:
city.iloc[4:50:10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [45]:
np.random.seed(1)
labels = list(np.random.choice(city.index, 4))
labels

['Northwest HVAC/R Training Center',
 'California State University-Dominguez Hills',
 'Lower Columbia College',
 'Southwest Acupuncture College-Boulder']

In [46]:
city.loc['Alabama State University':
'Reid State Technical College':10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [47]:
 labels = ['University of Alaska Anchorage',
'International Academy of Hair Design',
'University of Alabama in Huntsville']
college.loc[labels]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [48]:
start = 'International Academy of Hair Design'
stop = 'Mesa Community College'
college.loc[start:stop]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5211.0,...,0.0127,0.0161,0.0702,0.7465,1,0.3270,0.2189,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000

In [49]:
college.iloc[[100, 200], [7, 15]]
rows = ['GateWay Community College',
'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']
college.loc[rows, columns]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [50]:
college.iloc[90:80:-2, 5]
start = 'Empire Beauty School-Flagstaff'
stop = 'Arizona State University-Tempe'
college.loc[start:stop:-2, 'RELAFFIL']

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int8

In [51]:
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1
col_start, col_end

(10, 19)

In [52]:
college.iloc[:5, col_start:col_end]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [53]:
cn = 'Texas A & M University-College Station'
college.loc[cn, 'UGDS_WHITE']

0.6609999999999999

In [54]:
college.at[cn, 'UGDS_WHITE']

0.6609999999999999

In [55]:
row_num = college.index.get_loc(cn)
col_num = college.columns.get_loc('UGDS_WHITE')
row_num, col_num

(3765, 10)

In [56]:
%timeit college.iloc[row_num, col_num]

81 Âµs Â± 7.35 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [57]:
%timeit college.iat[row_num, col_num]

59 Âµs Â± 10.7 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [58]:
college[10:20:2]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,322.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,1729.0,...,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273
Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,2367.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,115.0,...,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500

In [59]:
city = college['CITY']
city[10:20:2]

INSTNM
Birmingham Southern College              Birmingham
Concordia College Alabama                     Selma
Enterprise State Community College       Enterprise
Faulkner University                      Montgomery
New Beginning College of Cosmetology    Albertville
Name: CITY, dtype: object

In [60]:
start = 'Mesa Community College'
stop = 'Spokane Community College'
college[start:stop:1500]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000
Hair Academy Inc-New Carrollton,New Carrollton,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,504.0,...,0.0000,0.0000,0.0000,0.4683,1,0.9756,1.0000,0.5882,15200,9666
National College of Natural Medicine,Portland,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

In [61]:
college = college.sort_index()

In [62]:
college.loc['Sp':'Su']

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Spa Tech Institute-Ipswich,Ipswich,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,37.0,...,0.0000,0.0000,0.0541,0.4054,1,0.2656,0.3906,0.7907,21500,6333
Spa Tech Institute-Plymouth,Plymouth,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,153.0,...,0.0000,0.0000,0.2484,0.3399,1,0.3716,0.4266,0.6250,21500,6333
Spa Tech Institute-Westboro,Westboro,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,...,0.0000,0.0000,0.0222,0.5778,1,0.3409,0.4545,0.6882,21500,6333
Spa Tech Institute-Westbrook,Westbrook,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,240.0,...,0.0000,0.0000,0.0042,0.2542,1,0.4350,0.5093,0.5224,21500,6333
Spalding University,Louisville,KY,0.0,0.0,0.0,1,490.0,440.0,0.0,1227.0,...,0.0302,0.0016,0.0326,0.2502,1,0.4442,0.6725,0.3764,41700,25000
Spanish-American Institute,New York,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,0.0,...,0.0000,0.0000,0.0000,NaN,1,NaN,NaN,0.8667,19700,NaN
Spartan College of Aeronautics & Technology,Inglewood,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,414.0,...,0.0000,0.0048,0.0531,0.0000,1,0.7507,0.7698,0.5066,41000,24059
Spartan College of Aeronautics and Technology,Tulsa,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,849.0,...,0.0978,0.0118,0.0106,0.0000,1,0.8592,0.9547,0.3843,39300,18018.5
Spartanburg Community College,Spartanburg,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,4694.0,...,0.0245,0.0002,0.0109,0.4495,1,0.5409,0.1414,0.3380,25500,4500
Spartanburg Methodist College,Spartanburg,SC,0.0,0.0,0.0,1,430.0,440.0,0.0,790.0,...,0.0152,0.0076,0.0000,0.0177,1,0.5098,0.6614,0.0134,28400,12000
Specs Howard School of Media Arts,Southfield,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,653.0,...,0.0153,0.0000,0.0015,1.0000,1,0.4390,0.6821,0.4003,27200,11370
Spelman College,Atlanta,GA,1.0,0.0,1.0,0,510.0,490.0,0.0,2135.0,...,0.0272,0.0150,0.0829,0.0295,1,0.4777,0.7172,0.0254,46000,26996
Spencerian College-Lexington,Lexington,KY,0.0,0.0,0.0,0,NaN,NaN,0.0,99.0,...,0.1212,0.0000,0.0303,0.2727,1,0.7233,0.7044,0.5660,31600,17357
Spencerian College-Louisville,Louisville,KY,0.0,0.0,0.0,0,NaN,NaN,0.0,467.0,...,0.1006,0.0000,0.0257,0.3854,1,0.6041,0.6360,0.5722,31600,17357
Spertus College,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Spokane Community College,Spokane,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,4982.0,...,0.0552,0.0032,0.0566,0.2708,1,0.5160,0.3901,0.5325,31100,16750
Spokane Falls Community College,Spokane,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,4650.0,...,0.0725,0.0174,0.0355,0.2424,1,0.2803,0.1747,0.5083,28700,10614
Spoon River College,Canton,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,1160.0,...,0.0026,0.0009,0.0000,0.3733,1,0.3184,0.1553,0.3167,28000,PrivacySuppressed
Spring Arbor University,Spring Arbor,MI,0.0,0.0,0.0,1,525.0,568.0,0.0,2632.0,...,0.0217,0.0080,0.0593,0.2819,1,0.4544,0.7518,0.4562,38100,25000
Spring Hill College,Mobile,AL,0.0,0.0,0.0,1,535.0,538.0,0.0,1215.0,...,0.0346,0.0222,0.0337,0.0305,1,0.2307,0.6873,0.0712,42800,27000
Springfield Beauty Academy,Annandale,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,57.0,...,0.0000,0.0000,0.0175,0.2281,1,1.0000,0.8800,0.8228,19300,5371
Springfield College,Springfield,MA,0.0,0.0,0.0,0,510.0,530.0,0.0,2136.0,...,0.0150,0.0234,0.0225,0.0131,1,0.2336,0.8020,0.0202,43800,24826.5
Springfield College of Beauty,Springfield,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,71.0,...,0.0704,0.0000,0.0000,0.0000,1,0.7154,0.6911,0.5072,14000,14645
Springfield College-School of Professional and Continuing Studies,Springfield,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,1237.0,...,0.0226,0.0032,0.0251,0.3444,1,0.7375,0.9194,0.9636,43800,24826.5
Springfield Technical Community College,Springfield,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,6069.0,...,0.0201,0.0082,0.0058,0.5001,1,0.5618,0.2462,0.4282,30300,5761
St Andrews University,Laurinburg,NC,0.0,0.0,0.0,1,480.0,460.0,0.0,601.0,...,0.0216,0.1082,0.1647,0.0682,1,0.4269,0.7429,0.1126,34800,21562
St Bernard's School of Theology and Ministry,Rochester,NY,0.0,0.0,0.0,1,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
St Bonaventure University,Saint Bonaventure,NY,0.0,0.0,0.0,1,525.0,525.0,0.0,1735.0,...,0.0173,0.0173,0.1003,0.0098,1,0.2941,0.6977,0.0246,44100,27000
St Catherine University,Saint Paul,MN,0.0,0.0,1.0,1,548.0,547.0,0.0,3399.0,...,0.0224,0.0091,0.0380,0.3869,1,0.3990,0.7527,0.3830,45000,28065
St Charles Community College,Cottleville,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,6565.0,...,0.0331,0.0084,0.0373,0.4859,1,0.2394,0.1061,0.2847,32300,8508.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Strayer University-Pennsylvania,Trevose,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,1537.0,...,0.0208,0.0026,0.0390,0.8972,1,0.4873,0.6031,0.8115,49200,36173.5
Strayer University-Piscataway,Piscataway,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Plano,Plano,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Rockville Campus,Rockville,MD,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Roswell Campus,Roswell,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-San Antonio,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
Strayer University-Sand Lake Campus,Orlando,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Savannah Campus,Savannah,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Shelby Oaks Campus,Memphis,TN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-South Carolina,Greenville,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,1206.0,...,0.0199,0.0008,0.0348,0.8698,1,0.5347,0.5969,0.8559,49200,36173.5
Strayer University-South Charlotte,Charlotte,NC,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-South Raleigh Campus,Raleigh,NC,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Stafford,Stafford,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
Strayer University-Takoma Park Campus,Washington,DC,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Tampa East Campus,Tampa,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Tennessee,Memphis,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,1273.0,...,0.0196,0.0024,0.0181,0.9262,1,0.5551,0.6414,0.8386,49200,36173.5
Strayer University-Texas,Austin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,1217.0,...,0.0353,0.0041,0.0345,0.8250,1,0.5046,0.6049,0.8989,49200,36173.5
Strayer University-Virginia,Arlington,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,4448.0,...,0.0313,0.0171,0.0441,0.7214,1,0.2993,0.4036,0.8871,49200,36173.5
Strayer University-Virginia Beach Campus,Virginia Beach,VA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Warrendale Campus,Warrendale,PA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-West Virginia,Scott Depot,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,156.0,...,0.0256,0.0000,0.0128,0.9167,1,0.5989,0.6780,0.7627,49200,36173.5
Strayer University-White Marsh Campus,Baltimore,MD,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Willingboro Campus,Willingboro,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Strayer University-Woodbridge Campus,Woodbridge,VA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
Stroudsburg School of Cosmetology,Stroudsburg,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,45.0,...,0.0000,0.0000,0.0000,0.1111,1,0.5732,0.6707,0.4545,12200,11295
Studio Academy of Beauty,Chandler,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,332.0,...,0.0392,0.0000,0.0090,0.0000,1,0.5855,0.6218,0.5675,NaN,6333
Studio Jewelers,New York,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,55.0,...,0.0000,0.0364,0.0000,0.6000,1,0.0451,0.0902,0.8525,PrivacySuppressed,PrivacySuppressed
Stylemaster College of Hair Design,Longview,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,77.0,...,0.0130,0.0000,0.0000,0.0000,1,0.8036,0.7024,0.4510,17000,13320
Styles and Profiles Beauty College,Selmer,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,31.0,...,0.0000,0.0000,0.0000,0.0000,1,0.8182,0.7955,0.2400,PrivacySuppressed,PrivacySuppressed
Styletrends Barber and Hairstyling Academy,Rock Hill,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,45.0,...,0.0000,0.0000,0.0000,0.5556,0,1.0000,1.0000,0.3529,PrivacySuppressed,9495.5

In [63]:
college = college.sort_index(ascending=False)
college.index.is_monotonic_decreasing

True

In [64]:
college.loc['E':'B']

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Dyersburg State Community College,Dyersburg,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,2001.0,...,0.0185,0.0010,0.0085,0.4423,1,0.4921,0.2493,0.3097,26800,7475
Dutchess Community College,Poughkeepsie,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,6885.0,...,0.0446,0.0129,0.0049,0.3312,1,0.2464,0.1936,0.1806,32500,10250
Dutchess BOCES-Practical Nursing Program,Poughkeepsie,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,155.0,...,0.0581,0.0000,0.0000,0.7548,1,0.5294,0.6275,0.5430,36500,9500
Durham Technical Community College,Durham,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,4769.0,...,0.0182,0.0025,0.0457,0.6905,1,0.4495,0.1796,0.5961,27200,11069.5
Durham Beauty Academy,Durham,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,78.0,...,0.0000,0.0000,0.0128,0.0000,1,0.5746,0.8134,0.4000,PrivacySuppressed,15332
Duquesne University,Pittsburgh,PA,0.0,0.0,0.0,1,570.0,565.0,0.0,5969.0,...,0.0235,0.0421,0.0126,0.0379,1,0.1983,0.6548,0.0536,54600,27000
Dunwoody College of Technology,Minneapolis,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,1069.0,...,0.0458,0.0000,0.0327,0.1833,1,0.5892,0.8880,0.4967,46600,16000
Duluth Business University,Duluth,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,179.0,...,0.0000,0.0000,0.0000,0.4246,1,0.7463,0.8905,0.6816,23500,28394
Duke University,Durham,NC,0.0,0.0,0.0,1,715.0,745.0,0.0,6480.0,...,0.0181,0.0951,0.0224,0.0014,1,0.1404,0.3130,0.0038,76700,7500
DuVall's School of Cosmetology,Bedford,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,89.0,...,0.0787,0.0000,0.0337,0.3034,1,0.4906,0.4780,0.5385,NaN,7917
Du Bois Business College-Oil City,Oil City,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,29.0,...,0.0000,0.0000,0.0000,0.1034,1,0.8000,0.8000,0.4750,23800,16929.5
Du Bois Business College-Huntingdon,Huntingdon,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,80.0,...,0.0000,0.0000,0.0000,0.0500,1,0.8636,0.8636,0.5682,23800,16929.5
Du Bois Business College-Du Bois,Du Bois,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,...,0.0111,0.0000,0.0000,0.0333,1,0.7295,0.8197,0.4180,23800,16929.5
Drury University,Springfield,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,3790.0,...,0.0208,0.0454,0.0000,0.2731,1,0.5091,0.5760,0.4479,31700,23454
Drexel University,Philadelphia,PA,0.0,0.0,0.0,0,580.0,620.0,0.0,16681.0,...,0.0284,0.1295,0.0224,0.1400,1,0.2059,0.5583,0.1823,62600,25500
Drew University,Madison,NJ,0.0,0.0,0.0,1,560.0,550.0,0.0,1356.0,...,0.0361,0.0472,0.0848,0.0155,1,0.3081,0.5854,0.0221,50300,27000
Drake University,Des Moines,IA,0.0,0.0,0.0,0,585.0,600.0,0.0,3290.0,...,0.0161,0.0733,0.0067,0.0350,1,0.1688,0.5211,0.0476,55700,24500
Drake College of Business-Newark,Newark,NJ,0.0,0.0,0.0,1,NaN,NaN,0.0,1023.0,...,0.0000,0.0000,0.0088,0.0000,0,1.0000,1.0000,0.7753,25200,9500
Drake College of Business-Elizabeth,Elizabeth,NJ,0.0,0.0,0.0,1,NaN,NaN,0.0,849.0,...,0.0000,0.0000,0.0000,0.0000,0,1.0000,1.0000,0.7714,25200,9500
Downey Adult School,Downey,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,1210.0,...,0.0000,0.0000,0.0000,0.6380,1,0.3773,0.0000,0.4381,NaN,PrivacySuppressed
Dowling College,Oakdale,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,1281.0,...,0.0000,0.0429,0.3841,0.1569,1,0.2502,0.4430,0.1404,41700,25350
Douglas J Aveda Institute,East Lansing,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,826.0,...,0.0448,0.0012,0.0073,0.0000,1,0.4316,0.6105,0.2344,21500,9833
Douglas Education Center,Monessen,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,267.0,...,0.0300,0.0000,0.0375,0.0150,1,0.6400,0.7018,0.3066,21800,12000
Dorsey Business Schools-Wayne,Wayne,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,139.0,...,0.0576,0.0000,0.0072,0.0000,1,0.8601,0.7876,0.6839,22000,12166
Dorsey Business Schools-Waterford Pontiac,Pontiac,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0638,0.0000,0.0000,0.0000,1,0.8904,0.8219,0.6941,22000,12166
Dorsey Business Schools-Southgate,Southgate,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,143.0,...,0.0280,0.0000,0.0000,0.0000,1,0.8219,0.7260,0.6644,22000,12166
Dorsey Business Schools-Saginaw,Saginaw,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,207.0,...,0.0483,0.0000,0.0097,0.0000,1,0.9234,0.8198,0.7387,22000,12166
Dorsey Business Schools-Roseville Culinary Academy,Roseville,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,163.0,...,0.0491,0.0000,0.0000,0.0000,1,0.9091,0.9152,0.7576,22000,12166
Dorsey Business Schools-Roseville,Roseville,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,480.0,...,0.0500,0.0000,0.0104,0.0000,1,0.9290,0.8560,0.6174,22000,12166
Dorsey Business Schools-Madison Heights,Madison Heights,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,197.0,...,0.0305,0.0000,0.0000,0.0000,1,0.9167,0.8775,0.6765,22000,12166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Baltimore City Community College,Baltimore,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,4640.0,...,0.0209,0.0388,0.0198,0.6461,1,0.5638,0.0000,0.5851,29000,PrivacySuppressed
Ball State University,Muncie,IN,0.0,0.0,0.0,0,550.0,545.0,0.0,15895.0,...,0.0247,0.0196,0.0127,0.0618,1,0.3399,0.5917,0.0715,38800,25000
Baldwin Wallace University,Berea,OH,0.0,0.0,0.0,1,NaN,NaN,0.0,3276.0,...,0.0388,0.0107,0.0037,0.0995,1,0.3410,0.8166,0.1393,44900,27000
Baldwin Park Adult & Community Education,Baldwin Park,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,307.0,...,0.0163,0.0000,0.0033,0.0717,1,0.5119,0.0000,0.3091,23300,PrivacySuppressed
Baldwin Beauty School-South Austin,Austin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,69.0,...,0.0000,0.0000,0.0870,0.0000,1,0.5517,0.0000,0.0789,20700,PrivacySuppressed
Baldwin Beauty School-North Austin,Austin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,72.0,...,0.0000,0.0000,0.0556,0.0000,1,0.5827,0.0000,0.4304,20700,PrivacySuppressed
Bakke Graduate University,Dallas,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Bakersfield College,Bakersfield,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,16982.0,...,0.0320,0.0026,0.0052,0.6585,1,0.3976,0.0328,0.3337,29300,11398
Baker University School of Professional and Graduate Studies and Graduate School of Education,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,48800,25250
Baker University School of Nursing,Topeka,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,48800,25250
Baker University,Baldwin City,KS,0.0,0.0,0.0,1,478.0,505.0,0.0,1649.0,...,0.0115,0.0127,0.0667,0.3511,1,0.3774,0.7296,0.4418,48800,25250
Baker College of Port Huron,Port Huron,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,794.0,...,0.0239,0.0000,0.0063,0.4887,1,0.6915,0.7089,0.5255,26400,24000
Baker College of Owosso,Owosso,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,2489.0,...,0.0245,0.0000,0.0000,0.3688,1,0.6437,0.7162,0.4018,26400,24000
Baker College of Muskegon,Muskegon,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,3453.0,...,0.0504,0.0000,0.0006,0.3834,1,0.6683,0.7123,0.4612,26400,24000
Baker College of Jackson,Jackson,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,1920.0,...,0.0250,0.0000,0.0052,0.5583,1,0.6702,0.7071,0.5547,26400,24000
Baker College of Clinton Township,Clinton Township,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,3588.0,...,0.0256,0.0000,0.0056,0.5245,1,0.6593,0.6769,0.5964,26400,24000
Baker College of Cadillac,Cadillac,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,1326.0,...,0.0106,0.0000,0.0038,0.4593,1,0.7290,0.7368,0.5883,26400,24000
Baker College of Auburn Hills,Auburn Hills,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,2668.0,...,0.0266,0.0000,0.0000,0.5821,1,0.5910,0.6638,0.5983,26400,24000
Baker College of Allen Park,Allen Park,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,3325.0,...,0.0328,0.0000,0.0000,0.5405,1,0.7050,0.7386,0.6155,26400,24000
Baker College Center for Graduate Studies,Flint,MI,0.0,0.0,0.0,1,NaN,NaN,0.0,3905.0,...,0.0435,0.0000,0.0169,0.7083,1,0.5463,0.6863,0.8354,26400,24000
Baker College,Flint,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,3684.0,...,0.0328,0.0000,0.0098,0.4536,1,0.6827,0.7104,0.5222,26400,24000
Bais Medrash Toras Chesed,Lakewood,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,111.0,...,0.0000,0.0180,0.0000,0.0180,1,0.4153,0.0000,0.1228,PrivacySuppressed,PrivacySuppressed
Bais Medrash Elyon,Brooklym,NY,0.0,1.0,0.0,0,NaN,NaN,0.0,67.0,...,0.0000,0.0000,0.0000,0.0000,1,0.3871,0.0000,0.1111,PrivacySuppressed,PrivacySuppressed
Bais HaMedrash and Mesivta of Baltimore,Baltimore,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,59.0,...,0.0000,0.0169,0.0000,0.0000,1,0.5102,0.0000,0.0000,NaN,PrivacySuppressed
Bainbridge State College,Bainbridge,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,2227.0,...,0.0108,0.0018,0.0081,0.5869,1,0.7595,0.5902,0.4972,24300,15312
Bacone College,Muskogee,OK,0.0,0.0,0.0,1,398.0,428.0,0.0,939.0,...,0.0298,0.0000,0.0895,0.1140,1,0.9392,0.8920,0.1648,29700,26350
Babson College,Wellesley,MA,0.0,0.0,0.0,0,615.0,660.0,0.0,2107.0,...,0.0233,0.2682,0.0603,0.0000,1,0.1709,0.3727,0.0090,86700,27000
BJ's Beauty & Barber College,Auburn,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,28.0,...,0.0714,0.0000,0.0714,0.0000,1,0.5192,0.6154,0.2917,NaN,PrivacySuppressed
BIR Training Center,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,2132.0,...,0.0000,0.0000,0.0000,0.1806,0,0.6700,0.6998,0.6741,PrivacySuppressed,15394
B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,31.0,...,0.0000,0.0000,0.0000,0.0000,1,0.4722,0.0000,0.4444,PrivacySuppressed,PrivacySuppressed